@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");

:root {
    --primary-new: #3574F2;
    --primary-hover: #CD7D7C;                
    --secondary: #EFD0F8;
    --secondary-hover: #B8A1D9;
    --secondary-text: #737784;
    --text-dark: #241F26;
    --background: #f4f7fe;
    --background-white: #ffff;

    --box-shadow: 0px 18px 28px 0px #091e4236;
}


.New_App {
    background: var(--background);
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
}

.my-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--background-white);
    border: 1px solid var(--primary-new);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    padding: 32px;
}

.login-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    background-color: transparent;
}

.my-form__button {
    background-color: var(--primary-new);
    color: var(--background);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.text-field input {
    color: var(--secondary-text);
    font-size: 17px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary-text);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;

}

.Verify_Otp,
.Get_Otp {
    background: var(--background-white);
}


.my-form__button:hover {
    background-color: var(--primary-hover);
}

.text-field {
    position: relative;
    background: var(--background-white);
}

.text-field input::-webkit-input-placeholder { /* Edge */
    color: var(--secondary-text);
}

.text-field svg {
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    background: var(--background-white);
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary-new);
}

.text-field label {
    color: var(--text-dark);
    background: var(--background-white);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.input-icon {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
}

.my-form__actions a:hover {
    color: #a7a2cb;               
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary-new);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signup a:hover {
    color: var(--primary-hover);
}